.hover_text {
    position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.hover_text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.hover_text:hover::after{
    width: 100%;
}